---
import { getCollection } from "astro:content";
import { BugIcon } from "lucide-react";
import MainLayout from "@layouts/main-layout.astro";

const allBlogPosts = await getCollection("blog", ({ data }) => {
  return data.draft !== true;
});

const sortedBlogPosts = allBlogPosts.sort((a, b) => {
  return (
    new Date(b.data.publishDate).getTime() -
    new Date(a.data.publishDate).getTime()
  );
});

const page = {
  title: "Blog",
  description: "This is where I will post about my journey learning Astro.",
};
---

<MainLayout title={page.title} description={page.description}>
  <article class="prose mt-[15%] max-w-full dark:prose-invert">
    <h1>📖 blogs</h1>
    <p>
      oh, I have a blog now. I'm not sure what I'll write about, but I'll figure
      it out.
    </p>

    {
      sortedBlogPosts.map((p) => (
        <p>
          <>
            <span class="inline-block align-middle">
              <BugIcon className="h-4 w-4 mr-1" />
            </span>
            <a href={`/blogs/${p.slug}`}>{p.data.title}</a>
          </>{" "}
          - <span class="inline-block  text-xs">{p.data.pubDate}</span>
        </p>
      ))
    }
  </article>
</MainLayout>
