---
import { getCollection } from "astro:content";
import MainLayout from "@layouts/main-layout.astro";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { ChevronRightIcon } from "lucide-react";

import {
  Card,
  CardContent,
  CardFooter,
  CardHeader,
} from "@/components/ui/card";
import { buttonVariants } from "@/components/ui/button";
import { cn } from "@/lib/utils";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/*.{jpeg,jpg,png,gif}",
);

const allShowcasePosts = await getCollection("showcase", ({ data }) => {
  if (!images[data.image])
    throw new Error(
      `"${data.image}" does not exist in glob: "src/assets/images*.{jpeg,jpg,png,gif}"`,
    );
  return data.draft !== true;
});

const sortedShowcasePosts = allShowcasePosts.sort((a, b) => {
  return a.data.order - b.data.order;
});

const page = {
  title: "Showcase",
  description:
    "some of the projects I've worked on, and some of the things I've built.",
};
---

<MainLayout title={page.title} description={page.description}>
  <div class="mt-[15%] max-w-full">
    <div class="prose dark:prose-invert">
      <h1 class="w-fit" transition:name="showcase-title">📚 showcase</h1>
      <p>
        some of the projects I've worked on, and some of the things I've built.
      </p>
    </div>
    <div class="mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2">
      {
        sortedShowcasePosts.map((p) => (
          <Card key={p.slug}>
            <CardHeader>
              <div class="prose dark:prose-invert">
                <h2 class="w-fit" transition:name={`showcase-${p.data.title}`}>
                  {p.data.title}
                </h2>
              </div>
            </CardHeader>
            <CardContent>
              <Image
                src={images[p.data.image]()}
                alt={p.data.title}
                class="aspect-[2/1] rounded-sm bg-muted object-cover"
              />
            </CardContent>
            <CardFooter className="flex flex-col gap-4">
              <div class="prose text-center dark:prose-invert">
                <p class="text-xs text-muted-foreground">
                  {p.data.description}
                </p>
              </div>

              <a
                href={`/showcase/${p.slug}`}
                class={cn(buttonVariants({ variant: "secondary" }), "w-full")}
              >
                Read more <ChevronRightIcon className="ml-2 h-4 w-4" />
              </a>
            </CardFooter>
          </Card>
        ))
      }
    </div>
  </div>
</MainLayout>
