---
import { getCollection } from "astro:content";
import MainLayout from "@layouts/main-layout.astro";
import { Image } from "astro:assets";

const allShowcasePosts = await getCollection("showcase", ({ data }) => {
  return data.draft !== true;
});

const page = {
  title: "Showcase",
  description:
    "some of the projects I've worked on, and some of the things I've built.",
};
---

<MainLayout title={page.title} description={page.description}>
  <div class="mt-[15%] max-w-full">
    <div class="prose dark:prose-invert">
      <h1>📚 showcase</h1>
      <p>
        some of the projects I've worked on, and some of the things I've built.
      </p>
    </div>

    {
      allShowcasePosts.map((p) => (
        <div class="prose mt-8 max-w-full p-0 text-sm dark:prose-invert md:p-2">
          <a
            href={`/showcase/${p.slug}`}
            class="text-lg font-medium leading-none"
          >
            {p.data.title}
          </a>
          <p class="text-xs text-muted-foreground">{p.data.description}</p>
        </div>
      ))
    }
  </div>
</MainLayout>
